/*
Made by: Sarah | 202740603790819328

This is just to make Acrylic for OpenAsar look better
*/

:root {
   --background-fourth: #2022258c;
   --scrollbar-auto-track: #2022258c;
}

/* Fixes */

.channelTextArea-1FufC0 {
   margin-top: 7.8px;
}

/* UI */

.theme-light .autocomplete-3NRXG8 {
   background-color: rgba(182, 182, 182, 0.733) !important;
}

.theme-dark .autocomplete-3NRXG8,
.scrollableContainer-15eg7h,
.layer-2aCOJ3,
.userProfileInnerWithBanner-3CJ1Og,
.userPopoutOverlayBackground-dKOOda,
.menu-1QACrS,
.navButtonActive-1EqC5l,
.inset-SbsSFp,
.outer-2JOHae.interactive-2zD88a:hover,
.outer-2JOHae.active-1W_Gl9 {
   background-color: rgba(25, 25, 25, 0.499) !important;
}

.theme-dark .theme-light .elevationBorderHigh-3drnJX {
   -webkit-box-shadow: none !important;
   box-shadow: none !important;
}

.option-ayUoaq:after {
   display: none !important;
}

.theme-dark .theme.light .root-g14mjS,
.container-2McqkF,
.userProfileInnerNonPremium-1XjSjn {
   background: var(--background-fourth) !important;
}

.theme-dark .theme.light .container-2McqkF {
   background: var(--background-secondary) !important;
}

.contentRegion-3HkfJJ,
.jumpToPresentBar-1cEnH0 {
   background: var(--background-secondary) !important;
}

.sidebar-1tnWFu,
.scroller-3X7KbA,
.container-1NXEtd,
.container-2o3qEW,
.layer-2aCOJ3,
.privateChannels-oVe7HL,
.nowPlayingColumn-1eCBCN,
.sidebar-1tnWFu,
.wrapper-1_HaEi,
.scroller-WSmht3,
.wrapper-22rqw6,
.wrapper-1NNaWG,
.lookFilled-1GseHa.select-1Ia3hD,
.footer-31IekZ,
.searchHeader-1r_ZSh,
.focused-2FU0YH,
.folder-241Joy {
   background-color: transparent !important;
}

.theme-dark .tooltipPrimary-3qLMbS,
.theme-light .tooltipPrimary-3qLMbS {
   background: var(--background-fourth) !important;
}

.content-1jQy2l::before,
.guildSeparator-a4uisj,
.container-1NXEtd::before {
   display: none !important;
}

/* Extra */

.root-g14mjS {
   border-radius: 15px;
}
