/*
Made by: Sarah | 202740603790819328 | aimslut | @PoolPartyAkali :3

For Vesktop or whatever the fuck you wanna use it for idc
*/

.theme-dark {
   --background-fourth: #2022258c;
   --background-modal: #202225c2;
   --scrollbar-auto-track: var(--background-secondary);
   --background-primary: #2728290a !important;
   --background-secondary: #27282991 !important;
   --background-secondary-alt: #2728290a !important;
   --background-tertiary: #2728290a !important
}

.theme-light {
   --background-fourth: #f2f3f5;
   --scrollbar-auto-track: var(--background-secondary);
   --channels-default: #272727;
   --channel-icon: #020202c2;
   --text-muted: #151313;
   --text-normal: #111111;
   --SeIc-color-text-normal: #111111;
   --background-fourth: #a6a9ad08 !important;
   --background-secondary: #a6a9ad08 !important;
   --background-modal: #e2e3e596;
   --header-secondary: #151313;
   --channel-text-area-placeholder: #151313;
   --interactive-normal: #151313;
   --profile-body-background-color: #f2f3f579;
   --background-secondary-alt: #a6a9ad08 !important;
   --background-tertiary: #a6a9ad08 !important; 
   --background-primary: #75757608 !important;
}

.theme-light .sidebar-1tnWFu {
   background-color: #a6a9ad08 !important;
}

.theme-light text {
   color: #202225c2 !important;
}

/* Fixes */

.channelTextArea-1FufC0 {
   margin-top: 7.8px;
}

.vc-notification-root {
   background: var(--background-secondary) !important;
}

.lookFilled-1GseHa.select-1Ia3hD,
.cardPrimaryOutline-1ofwVz {
   border: none;
}

.closeButton-3CiW2j {
   margin-left: 0px;
   margin-right: 10px;
}

.fade-1R6FHN:hover::-webkit-scrollbar-thumb,
.fade-1R6FHN:hover::-webkit-scrollbar-track {
   visibility: hidden !important;
}

/* UI */

.theme-light .autocomplete-3NRXG8 {
   background-color: rgba(182, 182, 182, 0.733) !important;
}

.theme-dark .autocomplete-3NRXG8,
.navButtonActive-1EqC5l,
.outer-2JOHae.interactive-2zD88a:hover,
.outer-2JOHae.active-1W_Gl9 {
   background-color: rgba(25, 25, 25, 0.499) !important;
}

.theme-dark .theme-light .elevationBorderHigh-3drnJX,
.header-1w9Q93,
.popout-1KHNAq,
.footer-VCsJQY {
   -webkit-box-shadow: none !important;
   box-shadow: none !important;
}

.option-ayUoaq:after {
   display: none !important;
}

.theme-dark .theme-light .root-8LYsGj,
.container-2McqkF,
.userProfileInnerWithBanner-3CJ1Og,
.messagesPopoutWrap-3zryHW,
.menu-1QACrS,
.contentWrapper-3vHNP2,
.container-2ebMPP {
   background: var(--background-fourth) !important;
}

.theme-dark .theme-light .gameName-zbZetm,
.lookLink-15mFoz.colorPrimary-2AuQVo {
   color: var(--text-normal) !important;
}

.theme-dark .theme-light .userPopoutInner-1hXSeY,
.wrapper-2vIMkT,
.layer-86YKbF,
.input-2g-os5,
.authBox-1HR6Ha {
   background: var(--background-tertiary) !important;
}

.theme-dark .theme.light .container-2McqkF,
.userPopoutOverlayBackground-dKOOda,
.scrollableContainer-15eg7h,
.inset-SbsSFp {
   background: var(--background-secondary) !important;
}

.contentRegion-3HkfJJ,
.jumpToPresentBar-1cEnH0,
.embedFull-1HGV2S {
   background: var(--background-secondary) !important;
}
.sidebar-1tnWFu,
.scroller-3X7KbA,
.container-1NXEtd,
.container-2o3qEW,
.layer-2aCOJ3,
.privateChannels-oVe7HL,
.nowPlayingColumn-1eCBCN,
.wrapper-1_HaEi,
.scroller-WSmht3,
.wrapper-22rqw6,
.wrapper-1NNaWG,
.lookFilled-1GseHa.select-1Ia3hD,
.footer-31IekZ,
.searchHeader-1r_ZSh,
.focused-2FU0YH,
.folder-241Joy,
.header-1w9Q93,
.footer-5ji8u1,
.header-3_zmOb,
.container-3u7RcY,
.body-1Ukv50,
.topSection-13QKHs,
.container-3wLKDe,
.fieldList-in8WkP,
.footer-VCsJQY {
   background-color: transparent !important;
}

.theme-dark .theme-light .container-32HW5s,
.root-8LYsGj,
.tooltipPrimary-3qLMbS,
.input-3r5zZY,
.root-g14mjS,
.popout-1KHNAq,
.lookFilled-1GseHa.select-1Ia3hD,
.itemFilled-1cPbtg,
.override-1sK4r0 {
   background-color: var(--background-modal) !important;
}

.theme-dark .theme-light,
.container-18GwIk,
.userProfileInnerNonPremium-1XjSjn {
   background: var(--background-fourth) !important;
}

.content-1jQy2l::before,
.guildSeparator-a4uisj,
.container-1NXEtd::before {
   display: none !important;
}

/* Extra */

.root-g14mjS {
   border-radius: 15px;
}

.theme-light .userProfileInnerNonPremium-1XjSjn {
   backdrop-filter: blur(20px) !important;
}

/* EOF */
